@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
    --main-color: #fff;
    --text-color: #4086F4;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

* {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    background-color: transparent;
    border: 2px solid var(--text-color);
    padding: 0 20px;    
    outline: none;
    border-radius: 30px;    
    font-size: 1rem;
    height: 40px;
    display: flex;
    align-items: center;
}

input::placeholder {
    color: var(--text-color);
    opacity: .7;    
}

.wrapper {
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Header */
header {
    background-color: var(--main-color);
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
    padding: 20px 0;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

header .search {
    width: 50%;
    max-width: 320px;
    position: relative;
}

header .search input {
    width: 100%;
    padding-right: 40px;
}

header .clear {
    position: absolute;
    top: 50%;
    right: 15px;
    height: 15px;
    width: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

header .clear::before,
header .clear::after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    background: var(--text-color);    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: .8;
}

header .clear::before {
    transform: rotate(45deg);
}

header .clear::after {
    transform: rotate(-45deg);
}

header .clear:hover::before,
header .clear:hover::after {
    opacity: 1;
}
/* /Header */

/* Movies */
.movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 50px 0;
    min-height: calc(100vh - 280px);
}

.movie {
    display: grid;
    grid-template-rows: 300px 1fr;
    position: relative;
}

.movie img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    border-radius: 10px;
}

.movie span {
    position: absolute;
    top: 10px;
    background-color: var(--main-color);
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
}

.movie .year {    
    left: 10px;    
}

.movie .rating {
    right: 10px;
}

.movie .cardInfo {
    padding: 20px 10px;
}

.movie .cardInfo h3 {
    margin-bottom: 15px;
}

.empty {
    grid-column-start: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty p {
    text-align: center;
    font-size: 1.6rem;
}

.empty span {
    border-bottom: 2px solid;
    cursor: pointer;
}

/* Loader */
.loader {
    display: none;
    height: calc(100vh - 180px);
    position: relative;
}

.dots {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 20px;
    animation: spin 2s infinite linear;
}

.dot {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--text-color);
}

@keyframes spin {
    from {transform: translate(-50%, -50%) rotate(0deg);}
    to {transform: translate(-50%, -50%) rotate(360deg);}
}
/* /Loader */

/* Footer */
footer {
    background-color: var(--main-color);
    width: 100%;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, .15);
    padding: 20px 0;
}

footer > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

footer a:hover {
    text-decoration: underline;
}
/* /Footer */